/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}

/* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */

body {
  background: url(../img/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* body {
  background-image: url(../img/liquid-cheese.svg);
  background-size: cover, contain;
  background-repeat: no-repeat;
} */

.container-fluid {
  padding: 0;
  /* background-image: url(../img/background.svg); */
  /* height: 100vh; */
}

.container {
  padding: 20px;
}

.fa-file,
.fa-folder,
.fa-save,
.fa-file-word,
.fa-calculator,
.fa-question-circle {
  margin-right: 5px;
}

#btn-geoapp,
#btn-new,
#btn-open,
#btn-save,
#btn-print {
  margin-right: 5px;
}

#btn-new,
#btn-open,
#btn-save,
#btn-print,
#btn-help,
#btn-calculate {
  font-weight: 600;
}

.navbar-toggler {
  padding: .5rem 1rem;
}

.card-body-input {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 7fr 0fr 1.5fr 0.2fr;
  grid-row-gap: 10px;
}

.section {
  position: relative;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
}

.section-title {
  position: absolute;
  top: -15px;
  left: 10px;
  background: #fff;
  padding: 0 5px 0 5px;
  font-weight: 650;
}

.section-body {
  padding: 10px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 7fr 0fr 1.5fr 0.2fr;
  grid-row-gap: 10px;

}

.span-parameter {
  grid-column: 1/2;
  padding: 5px 0 0 5px;
  text-align: left;
  margin: 0 10px 0 0;
  border-bottom: 1px solid #ced4da;
}

.span-symbol {
  grid-column: 2/3;
  padding: 5px 10px 0 0;
  text-align: right;
}

.input-value {
  grid-column: 3/4;
}

.span-unit {
  grid-column: 4/5;
  padding: 5px 0 0 10px;
}

.table {
  margin: 20px 0 0 0;
  grid-column: 1/5;
}

.table thead th {
  font-weight: 600;
}

.btn-group {
  grid-column: 4/5;
}

#btn-calculate {
  grid-column: 1/5;
  margin: 0 0 10px 0;
}

.output-value {
  background: #f7f7f7 !important;
}

.accordion {
  grid-column: 1/5;
  margin-top: 20px;
}

.btn-link {
  cursor: pointer;
}

/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden {
  display: none !important;
}

/*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
  * Extends the .visuallyhidden class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
  * Hide visually and from screen readers, but maintain layout
  */

.invisible {
  visibility: hidden;
}

/*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */

.clearfix:before,
.clearfix:after {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media screen and (max-width: 575px) {
  .container {
    padding: 0;
  }

  .card-body-input {
    padding: 10px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 0fr 1.5fr 0fr;
    grid-row-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 0.8em;
  }

  #btn-calculate,
  #btn-plus,
  #btn-minus {
    font-size: 0.8em;
  }

  .input-value,
  .output-value {
    font-size: 1em;
  }

  .accordion {
    font-size: 0.8em;
  }

  .accordion button {
    font-size: 0.8rem;
  }

  @media screen and (max-width: 992px) {

    #btn-geoapp,
    #btn-navbar {
      margin-bottom: 5px;
    }

    #btn-open,
    #btn-save,
    #btn-print,
    #btn-help {
      margin-top: 5px;
      margin-right: 0;
    }
  }

  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

  @media print {

    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: ' ('attr(href) ')';
    }

    abbr[title]:after {
      content: ' ('attr(title) ')';
    }

    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */

    a[href^='#']:after,
    a[href^='javascript:']:after {
      content: '';
    }

    pre {
      white-space: pre-wrap !important;
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
       * Printing Tables:
       * http://css-discuss.incutio.com/wiki/Printing_Tables
       */

    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }
}